.git
.github
.npm-cache
.next
**/.next
.venv
**/.venv
__pycache__
**/__pycache__
node_modules
**/node_modules
npm-debug.log
coverage
dist
build
.env
*.pyc
*.pyo
*.tsbuildinfo
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
